<h1>Cigar Diaries</h1>
<h3>Welcome back!  Please login below to access your account.</h3>
<form action="/users/login" method="POST">
    <label for="username">Username: </label>
    <input type="text" id="username" name="username" />

    <label for="password">Password: </label>
    <input type="text" id="password" name="password" />
    <br>
    <input type="submit" id="submit" value="Login" />
</form>