<h1>Cigar Diaries</h1>
<h3>Welcome!  Please signup below to create an account.</h3>
<form action="/users/signup" method="POST">
    <label for="first_name">First Name: </label><br>
    <input type="text" id="first_name" name="first_name" />
    <br><br>
    <label for="last_name">Last Name: </label><br>
    <input type="text" id="last_name" name="last_name" />
    <br><br>
    <label for="email">Email: </label><br>
    <input type="text" id="email" name="email" />
    <br><br>
    <label for="username">Username: </label><br>
    <input type="text" id="username" name="username" />
    <br><br>
    <label for="password">Password: </label><br>
    <input type="text" id="password" name="password" />
    <br><br>
    <input type="submit" id="submit" value="Signup" />
</form>